<h1>Ash`s Corner</h1>
<p>A place where you will find everyhting of the Geek/nerd World</p>
<p>Find me in app/views/main/home.html.erb</p>

<p>Weissly Arryn Schnee and Ashkamir Bishop Rose are the lone wanderer of the ancient world. Together they were invencible, unbreakable. Their journey of wonder, adventure and love will never be forgotten.</p>

<p>The Journey begins in a long lost Kingdom. Askamir Bishop Rose and Weissly Arryn Schnee were born in the village of Mirrorslash in the outskits of the powerful kingdom of Courvan. They didnt knew each other but they were both connected by a hunting trait, they were Half-Elfs.</p>
<p>Ashkamir came from a One Night Stand between Gergamar, a rogue wood elf and Varsek, a friendly human woman. Weissly in the same year was created by Birmer Schnee, the richest but coldest man in town and Willtry, a noble High elf that maange to melt the hearth of Birmer. While Ashkamir father rejected his existence and left him and his mother, Weissly was a disgrace to Birmer, Her mother love her but she also saw her as a lower standard being so she spent eight year in isolation so no one would discover her existance. Weissly grew in a enviroment of dissapointment torwards her, extreme disipline and being a shame to the family. Ashkamir, in the other hand grew surrounded by racism and hatred as he was the only Hlaf-Elf in town, in a world were her mother blame him for every bad thing.</p>
<a href="http://www.roosterteeth.com" target="_blank">Rooster Teeth</a>



<form action="" method="POST">
	<label for="name">Name</label>
	<input type="text" name="name"><br>
	<label for="password">Password</label>
	<input type="password" name="password"><br>
	<input type="submit" name="submit" value="Login">



</form>
<img src="http://37.media.tumblr.com/31f7ad89a235775093c113361b1fd0eb/tumblr_n4pjhdeW8y1qhz95yo1_500.gif">
<img src="https://65.media.tumblr.com/7d1645be53671578cabe785f77502f54/tumblr_inline_muhl7mbC8t1rar6j5.gif">
<img src="https://media.giphy.com/media/pgpqEVdMNcWnm/giphy.gif">
<img src="http://i.imgur.com/ZH2L0g0.gif">